# File to disable Rider inspection warnings, unfortunately it adds more inspection warnings.
[*]
resharper_class_never_instantiated_global_highlighting=none
resharper_member_can_be_private_global_highlighting=none